:root {
  --maindark: #42454B;
  --accentblue1: #2874BA;
}

.gradient {
  background-image: linear-gradient(0deg, #DAB542, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 25, 255, 0)),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
}

.flipped-gradient {
  background-image: linear-gradient(0deg, #DAB542D4, rgba(255, 255, 255, 0)),
    linear-gradient(to left, rgba(72, 109, 143, 0.74), rgba(59, 146, 190, 0.13)),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(168, 104, 62, 0.38));
}


.transparency {
  background-color: #00000052;
  border: 1px solid #29292F7A;
  backdrop-filter: brightness(90%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr 30px;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  color: #E7E7E7;
  filter: brightness(130%);
  transition: 0.5s;
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 0 7px;
  border-bottom: 1px solid transparent;
  font-weight: 300;
  backdrop-filter: brightness(180%);

}

#app-body {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  scroll-behavior: smooth;
  overflow: scroll;
}

#fs-container {
  position: sticky;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  scroll-behavior: smooth;
}

#file-system {
  /* animation: 0.7s curtain cubic-bezier(.86,0,.07,1) 0.4s both; */
  /* will-change: contents; */
  box-sizing: border-box;
  display: grid;
  grid-auto-rows: repeat(auto, minmax(auto, 1fr));
  grid-template-columns: repeat(auto-fill, 180px);
  justify-content: center;
  gap: 9px;
  margin: 0;
  padding: 7px 0;
  width: 100%;
  overflow: scroll;
  list-style: none;
  z-index: 1;
  scroll-behavior: smooth;
}

#file-system[data-view-mode=list] {
  display: grid;
  grid-auto-rows: repeat(auto, minmax(auto, 1fr));
  padding: 7px 7px;
  grid-template-columns: 1fr;
  gap: 9px;
}

#file-system[data-is-empty=true] {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fs-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  padding: 32px;
  width: 100%;
  height: 100%;
}

#fs-topbar {
  top: 50px;
  width: 100%;
  box-shadow: 0 0px 7px 1px #00000040;
  color: #7F3B3B;
}

#file-view-container {
  width: 100%;
  height: 100%;
  padding: 32px;
}

.menu-container {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 0 2px 10px 1px #00000070;
}

#app-toolbar {
  background: #2B769B00;
}

.menu-button {
  width: fit-content;
  height: fit-content;
  padding: 0 4px;
}

.node {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  height: fit-content;
  padding: 0px 0 0px 0;
  filter: contrast(123%);
  border-radius: 11px 3px 3px 3px;
}

.node[data-node-type=file] {
  filter: hue-rotate(120deg);
  border-radius: 3px;
}

.node-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 7px 7px;
  font-size: 14px;
  box-shadow: 0 2px 40px 1px inset #24242499;
  color: #B1B1B1;
  overflow: scroll;
  white-space: nowrap;
  border-radius: 11px 3px 3px 3px;
}

.node>.child-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  width: 100%;
  height: 0;
  padding: 0px 1px;
  list-style: none;
  overflow: hidden;
  transition: height 0.2s;
}

.node>.child-list li {
  font-size: 14px;
  height: fit-content;
  padding: 6px 9px;
  color: #CDCDCDFA;
}

.node:hover>.child-list {
  overflow: scroll;
}

.node[data-selected=true] {
  backdrop-filter: brightness(100%);
  outline: 2px solid #FFFFFF90;
}

.node[data-open=true] .child-list {
  height: 130px;
}

.node[data-selected=true] .node-content {
  backdrop-filter: brightness(0%);
  filter: hue-rotate(120deg);
}

.node[data-selected=true] .child-list {
  filter: contrast(0%);
  filter: hue-rotate(0deg);
}

